<%- include('partials/header') %>

<div class="jumbotron text-center">
    <div class="container">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">You have Discovered Your Secrets!</h1>
        
        <% if (secrets.length > 0) { %>
            <div class="card mt-4">
                <div class="card-body">
                    <ul class="list-group">
                        <% secrets.forEach(function(secret) { %>
                            <li class="list-group-item"><%= secret %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        <% } else { %>
            <p class="lead">You have no secrets yet.</p>
        <% } %>

        <hr>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
</div>

<%- include('partials/footer') %>
